@charset "utf-8";

/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500&display=swap');
html {
    height: 100%;
    /* overflow-y: scroll; */
}

body {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    background-image: url(../img/Ai/REDBGSEQ/H1.png);
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: 100% 100%;
    /* Resize the background image to cover the entire container */
    background-position: center;
    background-color: #ffffff !important;
    color: #201b50;
    font-family: 'Oswald', sans-serif;
}

body.admin {
    background-image: none;
    color: #000;
    font-weight: 300;
}

body.admin th {
    font-weight: 500;
}

body.video {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    background-image: none;
    background-color: #ffa113 !important;
    color: #201b50;
    font-family: 'Oswald', sans-serif;
}


/*home page*/

form {
    width: 100%;
    margin-bottom: 20px;
    background: transperent;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}

h1 {
    text-transform: uppercase;
    font-size: 2em;
    text-align: left;
    color: #fff;
}

.img24 {
    height: 12%;
    width: 12%;
    margin-right: 24px;
}

#ques-message,
#message,
#login-message {
    margin-bottom: 15px;
    padding: 5px 10px;
}

label {
    display: block;
    position: relative;
    margin: 30px 0px;
}

.input {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
}

.line-box {
    position: relative;
    width: 100%;
    height: 2px;
    background: #BCBCBC;
}

.line {
    position: absolute;
    width: 0%;
    height: 2px;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background: #CC0000;
    transition: ease .6s;
}

.input:focus+.line-box .line {
    width: 100%;
}

.label-txt {
    position: absolute;
    top: -1.6em;
    padding: 10px;
    font-family: sans-serif;
    font-size: .8em;
    letter-spacing: 1px;
    color: rgb(120, 120, 120);
    transition: ease .3s;
}

.label-active {
    top: -3em;
}

button {
    display: inline-block;
    padding: 12px 24px;
    background: #1183d1;
    font-weight: 500;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    transition: ease .3s;
    text-transform: uppercase;
}

button:hover {
    background: #185F8F;
    color: #ffffff;
}


/*home page*/

#msg {
    width: 100%;
    margin-top: 10px;
    text-transform: uppercase;
}

#success-alert {
    display: block;
}

form.panel-body {
    margin: auto;
}

#question-form {
    background-color: #efefef;
    border: 1px solid rgba(0, 0, 0, .2);
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

#question-form textarea {
    resize: none;
}

#question-form h6 {
    font-size: 1.2em;
    margin-top: 5px;
    margin-left: 10px;
    text-transform: uppercase;
}

.panel-body {
    padding: 15px;
}

.panel-default {
    border-color: #ddd;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

#question-form .form-control,
#question-form button {
    font-size: 1em;
}

#question-form button:focus,
#question-form .form-control:focus {
    box-shadow: none;
}

.bottom {
    margin: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.25);
}

.bottom a {
    color: #343a40;
    text-decoration: none;
    font-weight: 500;
}

.user-info {
    background-color: #ccc;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin-bottom: 2px;
    border-radius: 4px 4px 0 0;
}

.user-details {
    background-color: #ddd;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 0 0 4px 4px;
}

.page-link:focus {
    box-shadow: none;
}

#ques_count {
    display: inline-block;
}

#ques_update {
    color: #cc0000;
    font-weight: 500;
}

#ques_update a {
    color: #495057;
    font-style: italic;
    margin-left: 10px;
}

h4.dr-text {
    font-size: 1.8em;
}

.dr-photo {
    margin-bottom: 10px;
    max-height: 250px;
}

.date {
    max-width: 250px;
}

.event-info {
    text-align: left;
    color: #000000;
    padding: 5px 25px;
}

.event-info h4 {
    font-size: 1.75em;
    margin-bottom: 25px;
    font-weight: 300;
}

.event-info h4 span {
    color: #1183d1 !important;
    font-weight: 500;
}

.event-info {}

#register-form {
    max-width: 600px;
}

h3.title {
    font-size: 2.25em;
    font-weight: 300;
}

h3.title span {
    color: #1183d1;
    font-weight: 500;
}

h4 {
    font-size: 2.5em;
}

h5 {
    font-size: 2em;
}

h6 {
    font-size: 1.5em;
}

.info {
    padding: 0;
}

.icons a {
    margin: 0 5px;
}

.icons img {
    height: 25px;
    width: auto;
}

.icons i {
    font-size: 1em;
}

.icons .web {}

.bg-black {
    padding: 15px 30px;
    background-color: #0077cf70;
}

.tabs {
    width: 100%;
    float: none;
    list-style: none;
    position: relative;
    /*margin: 80px 0 0 10px;
  text-align: left;*/
    margin-bottom: -21px;
}

h4.vid-link {
    font-size: 1em;
    background-color: #fff;
    padding: 1em 1.5em;
    color: #000;
    border: 1px solid #333;
}

h4.vid-link.act {
    color: #fff;
    background-color: #000;
    border-bottom: none;
}

.video-panel {
    width: 100%;
    height: auto;
    border: 0px solid #000;
}

.btnSpk {
    padding: 5px;
    font-size: 0.8em;
    width: 125px;
    margin-right: 3px;
}

#refProgress {
    width: 100%;
    background-color: grey;
    position: relative;
}

#refBar {
    width: 1%;
    height: 30px;
    background-color: green;
}

#timeleft {
    position: absolute;
    top: 4px;
    right: 10px;
}

.video-panel iframe {
    border: 2px solid #0277cf !important;
}

#asked-ques {
    border: 0px solid #fff;
    /*min-height: 100px;*/
    max-height: calc(100vh - 350px);
    margin-top: 25px;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 5px;
}

.syotimer-cell {
    display: inline-block;
    margin: 0 5px;
    width: 75px;
    background: url(../img/timer.png) no-repeat 0 0;
    text-align: center;
}

.syotimer-cell__value {
    font-size: 35px;
    color: #ffffff;
    height: 81px;
    line-height: 81px;
    margin: 0 0 5px;
}

.syotimer-cell__unit {
    margin-top: 20px;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
}

@media only screen and (max-width: 1440px) {
    body {
        margin: 0px;
        padding: 0px;
        font-size: 14px;
        /* background-image: url('../img/Ai/RED BG SEQ/24.png'); */
        background-repeat: no-repeat;
        /* Do not repeat the image */
        background-size: cover;
        /* Resize the background image to cover the entire container */
        background-color: #ffffff !important;
        color: #201b50;
        font-family: 'Oswald', sans-serif;
    }
}

@media only screen and (max-width: 768px) {
    body {
        margin: 0px;
        padding: 0px;
        font-size: 14px;
        /* background-image: url('../img/mobile_bg.png'); */
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-color: #ffffff !important;
        color: #201b50;
        font-family: 'Oswald', sans-serif;
    }
    .syotimer-cell {
        display: inline-block;
        margin: 0 5px;
        /* width: 75px; */
        /* background: url(../img/Town.png); */
        width: 55px;
        text-align: center;
        padding-top: 20px;
        background-size: 60px;
        position: relative;
        top: -10px;
    }
    .syotimer-cell__value {
        font-size: 25px;
        color: #ffffff;
        height: 50px;
        line-height: 61px;
        margin: 0 0 5px;
    }
    form {
        margin-bottom: 0;
        padding: 0;
    }
    .logo {
        padding: 10px;
        margin: 0;
        /* width: 25%; */
    }
    .logo1 {
        padding: 0;
        margin-left: 20px;
        /* width: 25%; */
    }
}

@media only screen and (max-width: 425px) {
    body {
        margin: 0px;
        padding: 0px;
        font-size: 14px;
        /* background-image: url('../img/mobile_bg.png'); */
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-color: #ffffff !important;
        color: #201b50;
        font-family: 'Oswald', sans-serif;
    }
    .syotimer-cell {
        display: inline-block;
        margin: 0 5px;
        /* width: 75px; */
        /* background: url(../img/Town.png); */
        width: 55px;
        text-align: center;
        padding-top: 20px;
        background-size: 60px;
        position: relative;
        top: -10px;
    }
    .syotimer-cell__value {
        font-size: 25px;
        color: #ffffff;
        height: 50px;
        line-height: 61px;
        margin: 0 0 5px;
    }
    form {
        margin-bottom: 0;
        padding: 0;
    }
    .logo {
        padding: 10px;
        margin: 0;
        /* width: 25%; */
    }
    .logo1 {
        padding: 0;
        margin-left: 20px;
        /* width: 25%; */
    }
}