* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -ms-content-zooming: none;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.preloader {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 9999;
   background-image: url('default.gif');
   background-repeat: no-repeat; 
   background-color: #FFF;
   background-position: center;
}

#pano {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#poster01 {
  /*background-color: rgba(0,0,0,0.5);*/
  position: relative;
  width: 245px;
    height: 490px;
    /*border: 2px solid #c00;*/
}
#poster01 img{ 
  width:100%;
  height: auto;
}

#brand {
  /*background-color: rgba(0,0,0,0.5);*/
  position: relative;
  width: 245px;
    height: 490px;
    /*border: 2px solid #c00;*/
}
#brand img{ 
  width:160%;
  height: auto;
}

#iframeselect {
  position: absolute;
  width: 150px;
  margin-left: -140px;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0.95;
}


#iframeselect li{
  width: 100%;
  padding: 1em;
  font-size: 12px;
  text-align: center;
  background-color: #444;
  color: #ddd;
  transition: .3s background-color ease-in-out,
              .3s color ease-in-out;
}

#iframeselect li:hover{
  background-color: #666;
  color: #fff;
}

#iframeselect li a,
#iframeselect li a:hover{
    color: #fff;
}



#iframespot {
  background-color: #444;
  position: relative;
  width: 600px;
  height: 450px;
}

#iframespot .message {
  text-align: center;
  padding-top: 190px;
  font-size: 70px;
  color: #ddd;
}

/*playVideo*/

#playVideo:hover {
  z-index: 3;
}

#playVideo .hotspot {
  cursor: pointer;
}

#playVideo .hotspot .out:before {
  speak: none;
  font-size: 48px;
  line-height: 90px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: block;
  -webkit-font-smoothing: antialiased;
}

#playVideo .hotspot .out {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 5px solid rgba(255,255,255,.8);
  -webkit-transition: -webkit-transform ease-out 0.1s, border 0.2s;
  -moz-transition: -moz-transform ease-out 0.1s, border 0.2s;
  transition: transform ease-out 0.1s, border 0.2s;
}

#playVideo .hotspot .in {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: rgba(255,255,255,.8);
  border-radius: 50%;
  -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
  -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
  transition: transform ease-out 0.1s, background 0.2s;
}

#playVideo .hotspot .out:after {
  top: 0;
  left: 0;
  padding: 0;
  z-index: -1;
  box-shadow: 0 0 0 2px rgba(255,255,255,0.1);
  opacity: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

#playVideo .hotspot:hover .out {
  border: 5px solid rgba(255,255,255,1);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  color: #fff;
}

#playVideo .hotspot:hover .in {
  background-color: rgba(255,255,255,1);
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

#playVideo .hotspot:hover .out:after {
  -webkit-animation: sonarEffect 1.2s ease-out;
  -moz-animation: sonarEffect 1.2s ease-out;
  animation: sonarEffect 1.2s ease-out;
}

@-webkit-keyframes sonarEffect {
  0% {
    opacity: 0.5;
  }
  20% {
    opacity: 0.8;
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px rgba(37,170,225,.8), 0 0 0 10px rgba(255,255,255,0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px rgba(37,170,225,.8), 0 0 0 10px rgba(255,255,255,0.5);
    -webkit-transform: scale(1.5);
    opacity: 0;
  }
}
@-moz-keyframes sonarEffect {
  0% {
    opacity: 0.5;
  }
  20% {
    opacity: 0.8;
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px rgba(37,170,225,.8), 0 0 0 10px rgba(255,255,255,0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px rgba(37,170,225,.8), 0 0 0 10px rgba(255,255,255,0.5);
    -moz-transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes sonarEffect {
  0% {
    opacity: 0.5;
  }
  20% {
    opacity: 0.8;
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px rgba(37,170,225,.8), 0 0 0 10px rgba(255,255,255,0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px rgba(37,170,225,.8), 0 0 0 10px rgba(255,255,255,0.5);
    transform: scale(1.5);
    opacity: 0;
  }
}