* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    background-color: #f9f3ed;
    font-size: 1rem;
    position: relative;
    &.loaded {
        .preloader {
            display: none;
        }
        .page-content {
            display: block;
        }
    }
    .page-content {
        display: none;
    }
    &.no-bg {
        background-image: none;
    }
}

a {
    text-decoration: none;
}

#bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
    object-position: bottom center;
}

#art-top-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 9%;
    z-index: 1;
}

.login-wrapper {
    background-color: #f3f3f3;
    padding: 2rem;
    border-radius: 12px;
    border: 1px solid #bcc7ce;
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.12);
}

form {
    .input {
        background-color: #fff;
        border-radius: 8px;
        border: 1px solid #606060;
        &::-webkit-input-placeholder {
            /* Edge */
            font-style: italic;
        }
        &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            font-style: italic;
        }
        &::placeholder {
            font-style: italic;
        }
        &:focus,
        &:active {
            outline: none;
            box-shadow: none;
            border: 1px solid #606060;
        }
    }
}

.text-error {
    font-size: 0.65rem;
    margin-left: 12px;
}


/*Pre Loader*/

.preloader {
    height: 100%;
    width: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 999999;
}

.loader {
    height: 20px;
    width: 250px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.loader--dot {
    -webkit-animation-name: loader;
    animation-name: loader;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: black;
    position: absolute;
    border: 2px solid white;
}

.loader--dot:first-child {
    background-color: #8cc759;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.loader--dot:nth-child(2) {
    background-color: #8c6daf;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.loader--dot:nth-child(3) {
    background-color: #ef5d74;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.loader--dot:nth-child(4) {
    background-color: #f9a74b;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.loader--dot:nth-child(5) {
    background-color: #60beeb;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.loader--dot:nth-child(6) {
    background-color: #fbef5a;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.loader--text {
    position: absolute;
    top: 200%;
    left: 0;
    right: 0;
    width: 4rem;
    margin: auto;
}

.loader--text:after {
    content: "Loading";
    font-weight: bold;
    -webkit-animation-name: loading-text;
    animation-name: loading-text;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    color: #333333;
}

@-webkit-keyframes loader {
    15% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    45% {
        -webkit-transform: translateX(230px);
        transform: translateX(230px);
    }
    65% {
        -webkit-transform: translateX(230px);
        transform: translateX(230px);
    }
    95% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes loader {
    15% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    45% {
        -webkit-transform: translateX(230px);
        transform: translateX(230px);
    }
    65% {
        -webkit-transform: translateX(230px);
        transform: translateX(230px);
    }
    95% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes loading-text {
    0% {
        content: "Loading";
    }
    25% {
        content: "Loading.";
    }
    50% {
        content: "Loading..";
    }
    75% {
        content: "Loading...";
    }
}

@keyframes loading-text {
    0% {
        content: "Loading";
    }
    25% {
        content: "Loading.";
    }
    50% {
        content: "Loading..";
    }
    75% {
        content: "Loading...";
    }
}


/*Mobile Portrait Mode*/

#mobile-portrait {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 999999;
    display: none;
}

.center-device {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(2.5);
    transform: translate(-50%, -50%) scale(2.5);
    height: 50vh;
    max-height: 250px;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 815px) and (orientation: portrait) {
    #mobile-portrait {
        display: block !important;
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        -webkit-box-shadow: 0 0 0 0 rgba(204, 0, 0, 0.7);
        box-shadow: 0 0 0 0 rgba(204, 0, 0, 0.7);
    }
    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-box-shadow: 0 0 0 10px rgba(204, 0, 0, 0);
        box-shadow: 0 0 0 10px rgba(204, 0, 0, 0);
    }
    100% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        -webkit-box-shadow: 0 0 0 0 rgba(204, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(204, 0, 0, 0);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        -webkit-box-shadow: 0 0 0 0 rgba(204, 0, 0, 0.7);
        box-shadow: 0 0 0 0 rgba(204, 0, 0, 0.7);
    }
    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-box-shadow: 0 0 0 10px rgba(204, 0, 0, 0);
        box-shadow: 0 0 0 10px rgba(204, 0, 0, 0);
    }
    100% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        -webkit-box-shadow: 0 0 0 0 rgba(204, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(204, 0, 0, 0);
    }
}

#content {
    position: relative;
    height: fit-content;
    max-height: calc(100vh);
    overflow: hidden;
    #header-menu {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 60px;
        background-color: rgba(255, 255, 255, 0.8);
        z-index: 1;
        a {
            color: #424242;
            font-size: 0.8rem;
        }
        ul#attendance {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                margin-bottom: 0;
                font-size: 0.6em;
                padding: 0 10px;
            }
        }
    }
    #bottom-menu {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 60px;
        background-color: #fff;
        .bottom-nav {
            padding: 4px 0;
        }
        ul {
            li {
                a {
                    display: block;
                    color: #424242;
                    font-size: 0.8rem;
                    text-align: center;
                    padding: 5px 10px;
                    text-decoration: none;
                    &:hover {
                        text-decoration: none;
                    }
                    i {
                        display: block;
                        color: #424242;
                        font-size: 0.8rem;
                        text-align: center;
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }
    #bg {
        position: relative;
        margin-top: 0px;
        background-color: #000;
        img {
            width: 100%;
            height: auto;
        }
        .indicator {
            background-color: #c00;
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            bottom: 0%;
            border-radius: 50%;
            -webkit-box-shadow: 0 0 0 0 #000;
            box-shadow: 0 0 0 0 #000;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            -webkit-animation: pulse 2s infinite;
            animation: pulse 2s infinite;
            &.d-4 {
                width: 4px;
                height: 4px;
                bottom: -2px;
            }
            &.d-6 {
                width: 6px;
                height: 6px;
                bottom: -3px;
            }
            &.d-8 {
                width: 8px;
                height: 8px;
                bottom: -4px;
            }
            &.d-10 {
                width: 10px;
                height: 10px;
                bottom: -5px;
            }
        }
        #lobbyVideo {
            position: absolute;
            top: 26.2%;
            left: 43.0%;
            width: 14.4%;
            height: 19%;
        }
        #enterYC {
            position: absolute;
            top: 33%;
            left: 24.4%;
            width: 8%;
            height: 3.2%;
        }
        #enterHall {
            position: absolute;
            top: 33%;
            left: 68%;
            width: 8%;
            height: 3.2%;
        }
        #enterSZ {
            position: absolute;
            top: 49.2%;
            left: 18.4%;
            width: 6%;
            height: 2.6%;
        }
        #enterAudi {
            position: absolute;
            top: 49.2%;
            left: 46.8%;
            width: 6.4%;
            height: 2.6%;
        }
        #enterBcs {
            position: absolute;
            top: 49.2%;
            left: 75.4%;
            width: 6.4%;
            height: 2.6%;
        }
        #banner01 {
            position: absolute;
            top: 23.0%;
            left: 14.7%;
            width: 3.6%;
            height: 19.6%
        }
        #banner02 {
            position: absolute;
            top: 24.3%;
            left: 36.2%;
            width: 4.3%;
            height: 22.6%;
        }
        #banner03 {
            position: absolute;
            top: 24.4%;
            left: 60%;
            width: 4.2%;
            height: 22.6%;
        }
        #banner04 {
            position: absolute;
            top: 23.0%;
            left: 82%;
            width: 3.6%;
            height: 19.6%
        }
        #banner05 {
            position: absolute;
            top: 56.2%;
            left: 30.1%;
            width: 4.8%;
            height: 13.4%;
        }
        #banner06 {
            position: absolute;
            top: 56.2%;
            left: 69.8%;
            width: 4.8%;
            height: 13.4%;
        }
        #banner07 {
            position: absolute;
            top: 66.6%;
            left: 19.9%;
            width: 7.2%;
            height: 19.6%;
        }
        #banner08 {
            position: absolute;
            top: 66.6%;
            left: 79.9%;
            width: 7.2%;
            height: 19.6%;
        }
        #webcast-area {
            position: absolute;
            top: 25.5%;
            left: 28.6%;
            width: 43.4%;
            height: 36.8%;
            .video-player {
                width: 100%;
                height: 100%;
            }
        }
    }
    #audiAgenda,
    #ask-ques,
    #take-poll {
        background-color: #000;
        position: absolute;
        top: 32.5%;
        left: 0;
        width: 125px;
        border-radius: 0 12px 12px 0;
        text-align: center;
        -webkit-box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.12);
        box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.12);
        a {
            display: block;
            color: #fff;
            font-size: 0.8rem;
            text-transform: uppercase;
            width: 100%;
            height: 100%;
            padding: 15px 10px;
            &:hover {
                text-decoration: none;
            }
        }
        i {
            display: block;
            margin-bottom: 5px;
        }
    }
    #ask-ques,
    #take-poll {
        left: auto !important;
        right: 0;
        top: 32.5%;
        border-radius: 6px 0 0 6px !important;
    }
    #take-poll {
        top: calc(32.5% + 100px);
    }
    .panel {
        position: absolute;
        top: 60px;
        right: -300px;
        width: 300px;
        height: calc(100vh - 100px);
        cursor: pointer;
        background-color: #adb5bd;
        font-size: 1em;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        overflow-y: auto;
        .panel-heading {
            background-color: #212529;
            text-transform: uppercase;
            padding: 5px 10px;
            position: relative;
            font-size: 0.8em;
            color: #EEEEEE;
            .close {
                position: absolute;
                right: 0px;
                top: 0px;
                font-size: 1em;
                color: #ccc;
                background-color: #c00;
                padding: 5px;
            }
        }
        .panel-content {
            padding: 10px;
            .form-check-input {
                margin-left: 0 !important;
            }
        }
        &.show {
            right: 0 !important;
        }
    }
}

@media only screen and (max-width: 770px) {
    #audiAgenda,
    #ask-ques,
    #take-poll {
        top: 25.5% !important;
        width: 100px !important;
        a {
            font-size: 0.8rem !important;
            padding: 8px 4px !important;
        }
        i {
            margin-bottom: 5px;
        }
    }
    #ask-ques,
    #take-poll {
        top: 32.5%;
        border-radius: 6px 0 0 6px !important;
    }
    #take-poll {
        top: calc(22.5% + 80px) !important;
    }
    .panel {
        right: -200px !important;
        width: 200px !important;
        font-size: 0.8em !important;
        .panel-heading {
            padding: 5px 10px;
            font-size: 1em;
            .close {
                right: 10px;
                top: 7px;
                font-size: 1em;
                padding: 2px 4px 3px 4px;
            }
        }
        .panel-content {
            padding: 10px;
        }
    }
}