.modal {
  z-index: 9999999;
}
.cam-modal-body {
  padding: 5px;
}

#cam-overlay {
  position: relative;
  width: 100%;
  /* height: 100%; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0px;
  padding: 0px;
  /* border: 2px solid red; */
  z-index: 2;
  cursor: pointer;
}

#cam-panel {
  position: relative;  
  left: 0%;
  width: 100% !important;
  height: 100% !important;
  z-index: 1; 
  overflow: hidden;
  
}

/* Photo jacket */
.photo-jacket-container {
  position: relative;
  width: 100%;
    height: 100%;
    z-index: 99;
    pointer-events: none;
    
}


.photo-jacket {
  width: 100%;
  height: 100%; 
}






#cam-ui.layout-01 {
  position: absolute;
  width: 100%;
  height: 37%;
  top: 18%;
  left: 5.5%;
}
#cam-ui.layout-02 {
  position: absolute;
  width: 100%;
    height: 41%;
    top: 7%;
    left: 5.5%;
}

#cam-feed,
#cam-feed video,
#cam-feed canvas {
  /* width: 95%;
  height: 95%; */
  
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#cam-feed video,
#cam-feed canvas {
  transform: scaleX(-1);
  -ms-transform: scaleX(-1);
}

#cam-feed canvas {
  display: none;
}
.cam-prev{
  margin: 0 !important;
  width: 100%;  
  min-width: 100%; 
  min-height: 100%; 
  height: 100%; 
  margin: 2.5%;
  border-radius: 5px;
}

#after-capture,
#before-capture {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0;
  z-index: 999;
}

#after-capture .btn,
#before-capture .btn {
  margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    left: 0;
    background-color: #dc3545;
    padding: 4px 8px;
    color: #fff;
}
#after-capture .btn{
  background-color: #28a745 !important;
}

#close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  right: 0;
  margin: 10px;
  font-size: 18px;
  border-radius: 55rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {
  #cam-panel {
    width: 50vmin !important;
    height: 50vmin !important;
  }
} */



















video::-webkit-media-controls-overlay-play-button {
  display: none;
}

#cam-feed-video::-webkit-media-controls-panel {

  display: none!important;

  -webkit-appearance: none;

}

#cam-feed-video::--webkit-media-controls-play-button {

  display: none!important;

  -webkit-appearance: none;

}

#cam-feed-video::-webkit-media-controls-start-playback-button {

  display: none!important;

  -webkit-appearance: none;

}