@media screen and (max-width:1681px){
	/*home page=================*/
	body{ font-size:13px;}
	
	.t3body{ padding: 30px 0 40px 0;}
	.t3ssnImg{ height: 400px;}
	.t3DteTimePrnt{  margin-top: 14px;}
	.t3DocPic{ width: 180px; height: 180px;}
	.t3DocSec{ bottom: -50px;}
	.t3DocDtls{ margin-top: 10px;}
	.t3SsnContent{ margin-top: 20px;}
	.t3ssnImg{ margin-bottom: 50px;}
	.december{ margin-top: 30px;}
	
	}


@media screen and (max-width:1199px){
	/*home page=================*/
	body{ font-size:13px;}
	.font_8px{font-size:7px}
	.font_12px{font-size:11px}
	.font_14px{font-size:13px}
	.font_16px{font-size:14px}
	.font_18px{font-size:16px}
	.font_20px{font-size:18px}
	.font_22px{font-size:18px}
	.font_24px{font-size:22px}
	.font_30px{font-size:24px}
	.font_36px{font-size:30px}
	.font_48px{font-size:36px}
	.font_60px{font-size:48px}
	.font_72px{font-size:60px}
	.t3TopleftCorner{ width: 140px;}
	.t3BottomCorner{ width: 80px;}
	.t3SsnTtl{ top: 10px;}
	.t3ssnImg{ height: 330px;}
	.t3DocDtls{ margin-top: 15px;}
	.t3Left{ padding-right: 40px;}
	.allegraLogo{ max-width: 180px;}
	.t3DocPic{ width: 170px;}
	.frmInfo img{ max-width: 24px; max-height: 24px;}
	.frmInfo{ margin: 12px 0 20px 0; padding-left: 34px;}
	.frmPart .form_row select.cntryCdFrmSlct{ width: 50px;}
	.cntryCdFrm{ padding-left: 55px;}
	.drNameFrmName{ width: 50px;}
	.drNameFrm{ padding-left: 55px;}
	.brandImg{ right: 50px; max-height: 80px;}
	.brandImg{ max-width: 160px; max-height: 70px;}
	
	/*video Page*/
	.p_videologo{ width: 160px; height: 100px;}
	.p_videoBnnr{ height: 400px; margin-bottom: 180px;}
	.p_videoBox{ height: 440px;}
	.p_videoBoxPlay { width: calc(100% - 330px); width: -webkit-calc(100% - 330px);}
	.video_right{width: 330px}
	.videoRightShow .video_right{ transform: translateX(310px);}
	
	/*Temp 1*/
	.t1Logo{ width: 200px; height: 116px;}
	
	/*Temp 4*/
	.t4TtlLft{ padding-right: 30px;}
	
	/*Temp 5*/
	.t5liveNowBttn img{ margin-left: 4px; max-width: 30px; max-height: 22px;}
	
}
@media screen and (max-width:991px){
	/*home page=================*/
	body{ font-size:12px;}
	.font_12px{font-size:11px}
	.font_14px{font-size:12px}
	.font_16px{font-size:14px}
	.font_18px{font-size:14px}
	.font_20px{font-size:16px}
	.font_22px{font-size:16px}
	.font_24px{font-size:20px}
	.font_30px{font-size:22px}
	.font_36px{font-size:24px}
	.font_48px{font-size:30px}
	.font_60px{font-size:36px}
	.font_72px{font-size:48px}
	
	.t3ssnImgBg{ border-radius: 30px 30px 4px 4px; -webkit-border-radius: 30px 30px 4px 4px;}
	.t3SsnTtl{ padding: 20px 3%;}
	.t3ssnImg .overlay{ border-radius: 30px 30px 4px 4px; -webkit-border-radius: 30px 30px 4px 4px;}
	.t3DteTime img{ max-width: 18px; max-height: 18px}
	.t3DocSec{ padding: 0 3%;}
	.t3DocPic{ width: 110px; height: 120px;}
	.t3DocSec{ bottom: -60px}
	.t3ssnImg{ height: 290px;}
	.t3ssnImg{ margin-bottom: 60px;}
	.allegraLogo{ max-width: 130px;}
	.frmInfo img{ max-width: 20px; max-height: 20px}
	.frmInfo{ padding-left: 24px;}
	.drNameFrmName{ text-align: left; width: 25px;}
	.drNameFrm{ padding-left: 30px;}
	.frmPart{ padding: 15px 3%; }
	.frmInfo p{ font-size: 8px;}
	.frmPart .form_row input[type="text"], .frmPart .form_row input[type="number"], .frmPart .form_row input[type="password"], .frmPart .form_row input[type="email"], .frmPart .form_row input[type="tel"], .frmPart .form_row input[type="url"], .frmPart .form_row textarea, .frmPart .form_row select{ height: 40px}
	.frmPart .regFrmRowEffct label{ font-size: 13px;}
	.frmPart .regFrmRowEffct.regFormRowHvr label{ font-size: 11px;}
	.frmPart .form_row select.cntryCdFrmSlct{ font-weight: 500; width: 54px;}
	.cntryCdFrm{ padding-left: 62px;}
	.form_rowSubmit{ padding: 12px 15px;}
	.t3DocDtls{ color: #282828;}
	.frmPart .form_row select.cntryCdFrmSlct{ width: 45px; padding-left: 10px;}
	.cntryCdFrm{ padding-left: 50px;}
	.drNameFrmName{ width: 45px;}
	.drNameFrm{ padding-left: 50px;}
	
	/*video Page*/
	.p_videoBnnr{ height: 300px; margin-bottom: 180px;}
	.p_videoBox{ height: 340px;}
	.p_videoBoxPlay { width: calc(100% - 280px); width: -webkit-calc(100% - 280px);}
	.video_right{width: 280px}
	.videoRightShow .video_right{ transform: translateX(260px);}
	.videoTab_ttl{ padding-top: 10px; padding-bottom: 10px;}
	.videoDocPic{ width: 70px; height: 70px; border-width: 3px;}
	.videoDocDtls{ min-height: 70px; padding-left: 85px; margin-bottom: 10px;}
	.videoSsnCntntTtl{ margin-bottom: 15px;}
	.videoSsnCntnt{ padding-left: 35px;}
	
	/*Temp 1*/
	.t1Logo{ width: 170px; height: 86px;}
	.t1bodyIn{ padding-top: 0px;}
	.t1Bnnr{ height: 300px;}
	.t1Doc{ width: 60%;}	
	.t1Logo img { position: absolute; max-height: calc(100% - 30px); max-width: calc(100% - 30px);}
	.t1Main{ margin-bottom: 0px;}
	.footer_Main{ margin: 20px 0;}
	
	/*Temp 2*/
	.t2Logo{width: 130px; height: 86px;}
	.t2Logo img {   max-height: calc(100% - 20px); max-width: calc(100% - 20px);}
	.t2Doc{width: calc(100% - 150px); bottom: -80px; padding: 25px 0 0 180px; min-height: 160px;}
	.t2DocPic{ width: 160px; height: 160px;}
	.t2bnr{ height: 220px;}
	.t2SsnDescr{ padding: 14px;}
	.t2Ssnlft{ height: 310px; padding-right: 30px;}
	.t2SsnMain{ margin-top: 0px;}
	
	/*Temp 4*/
	.t4Logo{width: 130px; height: 86px; border-radius: 0 0 10px 10px; }
	.t4Logo img {   max-height: calc(100% - 20px); max-width: calc(100% - 20px);}
	.t4bnr{ height: 270px;}
	
	/*Temp 5*/
	.t5Header{ padding: 15px 0}
	.t5Logo img {  max-height: 58px; max-width: 170px;}
	.t5Topic {  width: calc(100% - 200px); padding-left: 20px;}
	.t5Topic:before{ width: 6px;}
	.t5CountDownIn{ padding: 8px 4px;}
	.t5CountDownIn span{  margin: 0 5px; }
	.t5CountDownIn span h6{font-size: 12px;}
	.t5DtTmAreaLeft {width: calc(100% - 320px);}
	.t5DocPic{ width: 120px; height: 120px;}
	.t5Doc{ padding-right: 40px;}
	.frmPart .form_row textarea{ height: 70px;}
	
	/*Temp 6*/
	.t6HdrLeft{ max-width: calc(100% - 200px);}
	.t6HdrRight{ padding: 7px 0;}
	.t6HdrRight img{ max-width: 130px; max-height: 44px;}
	.t6Header{ height: 76px;}
	.t6HdrLeftLogo{ width: 94px;}
	.t6HdrLeftLogoTxt{ padding-left: 108px;}
	.t6HdrLeftLogo:before{    border-top: 14px solid #ffffff; border-left: 47px solid transparent; border-right: 47px solid transparent;}
	.t6DtTmAreaLeft { width: calc(100% - 278px);}
	.t6DtTmAreaLeft .t3DteTime{ margin-right: 20px;}
	.t6DtTmAreaLeft .t3DteTime:last-child{ margin-right: 0px;}
	.t6BnrCont{ padding: 20px 3%;}
	.t6DtTmArea{ margin-top:  40px;}
	.t6BnrBtm{ height: 250px;}
	.t6Live{ padding: 6px 10px;}
	.t6Bnr{ height: 280px; margin-bottom: 50px;}
	
	.t6Doc{ padding-right: 30px;}
	.t6DocRow:before{ display: none;}
	.t6DocPic{ width:90px; height: 90px; border-width: 4px;}
	.t6DocCont{ padding: 0 10px;}
	.t6DocTime{ padding: 6px;}
	.t6Ftr{ padding: 15px 0;}
	}
	
@media screen and (max-width:767px){
	.row{ margin:0px;}
	.font_8px{font-size:6px}
	.font_12px{font-size:11px}
	.font_14px{font-size:12px}
	.font_16px{font-size:13px}
	.font_18px{font-size:14px}
	.font_20px{font-size:14px}
	.font_22px{font-size:16px}
	.font_24px{font-size:18px}
	.font_30px{font-size:18px}
	.font_36px{font-size:20px}
	.font_48px{font-size:24px}
	.font_60px{font-size:30px}
	.font_72px{font-size:36px}
	
	.t3Left{ padding: 0px;}
	.t3DteTime{ margin-right: 15px;}
	.t3ssnImg{ height: auto;}
	.t3ssnImgBg{ height: 230px;}
	.t3DocSec{ position:  relative;  float: left; width: 100%; background-color: #fff; box-shadow: 0 0 15px 0 rgba(0,0,0,0.25); padding: 15px 3%; margin-top: 20px; bottom: auto; border-radius: 6px; -webkit-border-radius: 6px; padding-left: calc(3% + 95px);}
	.t3ssnImg .overlay{ height: 230px;}
	.t3DocPic{ width: 80px; height: 80px; border-radius: 50%; -webkit-border-radius: 50%; border: 6px solid #d1d1d1; position: absolute; left: 3%; top: 15px;}
	.t3DocName{ margin-top: 0px; color: #282828;}
	.t3DocSpecl{ color: #282828;}
	.t3DocDtls{ margin-top: 9px;}
	.t3SsnTllTxt:after{ width: 40px; height: 2px;}
	.t3ssnImg{ margin-bottom: 0px;}
	.brandImg{ right: 3%;}
	.poweredBy img{ max-height: 26px;}
	.t3body .container .row .col-12{ padding: 0px;}
	.t3LogoDesk{ display: none;}
	.t3LogoMobile{ display: block; margin-bottom: 20px;}
	
	
	/*video Page*/
	.p_videologo{ width: 150px; height: 80px;  }
	.p_videoExit{ padding: 8px 15px;}
	.p_videoExit img{ max-height: 14px;}
	.p_videoBnnr header.col-12{ padding: 0px;}
	.p_videoBnnr{ height: 200px; margin-bottom:560px;}
	.p_videoBox{ height: auto; background-color: transparent; box-shadow: none; overflow: visible;}
	
	.p_videoBoxPlay{ width: 100%; float: left; position: relative; top: auto; left: auto; height: 250px; border-radius: 6px; overflow: hidden; box-shadow: 0 4px 20px 0 rgba(0,0,0,0.2);}
	.video_collapse{ display: none;}
	.video_right{ width: 100%; position: relative; float: left;  height: 370px; margin-top: 20px; padding: 0px; background-color: #f9f9f9; overflow: hidden; border-radius: 6px;
	box-shadow: 0 4px 20px 0 rgba(0,0,0,0.2);}
	.videoTab_ttl{ color: #ffffff; background-color: #2fad8a; padding: 10px 3%; border-radius: 6px 6px 0 0;}
	.videoTab_ttl a{color:#e4d03e;}
	body>#flowplayer-floating-container{ max-width: 240px !important;}
	.p_videoBtm .container >.col-12{ padding: 0px;}
	.videoSsnCntnt{ padding-left: 0px;}
	.videoDocDtls h5{ margin-bottom: 0px;}
	.video-p .p_videoBox{ background-color: transparent;}
	.video-p .videoContactPrblm{ color: #ffffff}
	
	/*Temp*/
	.t1Bnnr{ height: auto; margin-bottom: 20px;}
	.t1Logo{ height: 96px; width: 160px; left: 15px; background-color: rgba(255,255,255,0.93);}
	.t1Bnnr .object_fit_cover{ height: 220px;border-radius: 6px;}
	.t1DocPic .object_fit_cover{ height: 100%;}
	.t1DocIn{ padding: 15px 3%; color: #282828;}
	.t1DocPic{ border:5px solid rgba(255,255,255,0.6)}
	
	.t1Doc:before{ opacity: 0; }
	.t1Doc{ border-radius: 6px; background-color: #ffffff;position: relative; margin-top: -25px; float: left; width: 90%; height: auto; box-shadow: 0 0 15px 0 rgba(0,0,0,0.15); margin-left: 5%;} 
	.t1Ssn{ padding: 0px; margin-bottom: 20px;}
	.t1SsnTtl{ margin-bottom: 12px;}	
	
	/*Temp 2*/
	.t2SsnMain{ padding: 0px;}
	.t2Ssnlft{ padding: 0px; margin-bottom: 20px; height: 240px;}
	.t2Ssnlft:before{ right: 0px;}
	.t2SsnDescr{ width: 65%; right: 20px;}
	.t2Logo{ top: 0; left: 15px; border-radius: 0 0 10px 10px; border-radius: 0 0 10px 10px; height: 76px;} 
	.t2ssnTtl{ top: 100px;  transform: translate(0);}
	.t2bnr{ height: 240px; margin-bottom: 20px; }
	.deskt2Doc{ display: none;}
	.t2Doc.mobilet2Doc{ width: 100%; text-align: center; border-radius: 6px; padding: 15px; position: relative; box-shadow: 0 0 14px rgba(0,0,0,0.15); display: block; float: left; position: relative; top: auto; left: auto; bottom: auto; text-align: center; margin-bottom: 20px;}
	.t2DocPic{ position: relative;  left: auto; top: auto; margin-bottom: 15px; display: inline-block; height: 110px; width: 110px; border: 4px solid #e1e1e1;}
	.t2DocName{ color: #282828;}
	.t2DocNameDes{ margin-top: 15px;}
	.t2SsnMain{ width: 100%; float: left;}
	.t2ssnPic{ width: 100%; float: left; border-radius: 6px;}
	.t2SsnDescr{ width: 90%; margin-left: 5%; margin-top: -20px; top: auto; left: auto; transform: translate(0);float: left; position: relative; right: auto;}
	.t2ssnPic{ height: 200px;}
	.t2Ssnlft{ height: auto; padding-bottom: 30px;}
	.t2Ssnlft:before{ width: 70px; height: 70px;}
	
	/*Temp 4*/
	
	.t4TtlMain,.t4SsnMain{ padding: 0px;}
	.t4SsnBnr{ height: 180px;}
	.t4TtlLft{ padding: 0px; }
	.t4bnr{ height: 220px;}
	.t4bodyIn{ margin-top: -100px;}
	.t4RghtFrm{ margin-top: 20px;}
	
	/*Temp 5*/
	.t5Logo{ display: inline-block; float: none;}
	.t5Header{ text-align: center;}
	.t5Topic{ width: 100%; padding: 0 0 12px 0; margin-top: 15px;}
	.t5Topic:before{ transform: translate(-50%,0); -webkit-transform: translate(-50%,0); left: 50%; bottom: 0; width: 80px; height: 3px; top: auto; }
	.t5DtTmArea{ text-align: center;}
	.t5DtTmAreaLeft{ width: 100%; margin-bottom: 20px; }
	.t5CountDown{ width: 100%; float: left;}
	.t5CountDownIn{ float: none; display: inline-block;}
	.t5Doc{ text-align: center; padding: 0px;}
	.t5DocTtlGrps{ float: left; width: 100%; margin: 8px 0 0 0}
	.t5DocTtlGrps:before,.t5DocTtlGrps:after{ transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); left: 50%; top: 50%; right: auto;}
	.t5DocTtlGrps:after{ width: 80px;}
	.t5DocPic{ float: none; display: table; margin:0 auto 15px;}
	.t5DocCont{ width: 100%; float: left; padding: 0px; flex-basis:  auto !important;}
	.t5DteTimePrnt .t3DteTime{ margin: 0 4px 4px; display: inline-block;}
	.t5liveNowBttn{ display: inline-block; padding: 12px 18px; float: none;}
	.t5liveNowBttn img{ margin-left: 4px; max-width: 26px; max-height: 18px;}
	
	/*Temp 6*/
	.t6Header{ height: 64px;}
	.t6HdrLeft { max-width: calc(100% - 118px);}
	.t6HdrLeftLogoTxt .font_20px{ font-size: 12px;}
	.t6HdrLeftLogo{ width: 80px;}
	.t6HdrLeftLogo img{ max-height: calc(100% - 8px); max-height: calc(100% - 8px); }
	.t6HdrLeftLogoTxt{ padding-left: 90px;}
	.t6HdrLeftLogo:before{    border-top: 10px solid #ffffff; border-left: 40px solid transparent; border-right: 40px solid transparent;}
	.t6BnrBtm{ height: 190px;}
	.t6Bnr{ height: 230px;}
	.t6HdrRight img{ max-height: 34px; max-width: 100px}
	.t6HdrRight span{ font-size: 8px;}
	.t6Doc{ padding: 0px; margin-bottom: 30px;}
	.t6DtTmAreaMobile{ display: block;}
	.t6DtTmAreaDeskTop{ display: none;}
	
	.t6DtTmArea{ margin-bottom: 35px; margin-top: 0px;}
	.t6Body{ padding-top: 0px;}
	.t6DtTmArea{  padding:20px 3%; text-align: center; box-shadow: 0 0 20px 0 rgba(0,0,0,0.15); border-radius: 6px; border-top: 2px solid #bea672;}
	.t6DtTmAreaLeft{ width: 100%; }
	.t6Stts{ float: none; display: table; margin: 15px auto 0;}
	.t6DtTmArea .t5CountDownIn{ border: 2px solid #f1f1f1;}
	.t6Live{ border: 1px solid #e1e1e1;}
	.t6DtTmAreaLeft .t3DteTime{ margin: 0 10px;}
	.t6DtTmAreaLeft .t3DteTime img{ filter: brightness(0.2);}
	.t6DocRowGraph{ width: 18px; height: 18px;}
	.t6LiveStts{ color: #da4545;}
	
	
	
}
@media screen and (max-width:479px){
	.t3TopleftCorner{ width: 100px}
	.t3DteTimePrnt{ font-size: 13px;}
	.t3DteTime img{ max-height: 16px; max-width: 16px;}
	.t3DteTime{ display: block; margin-bottom: 10px;}
	.t3DocSec{ padding-left: 3%; text-align: center;}
	.t3DocPic { display: table; margin: 0 auto 10px; position: relative; left: auto; top: auto; float: none;}
	.t3body{ padding-top: 10px;}
	.t3SsnTllTxt{ font-size: 16px;}
	
	/*video Page*/
	.p_videologo{ width: 130px; height: 60px;  }
	.p_videoBnnr{ height: 140px; margin-bottom:440px;}	
	.p_videoBoxPlay{height: 180px; }
	.video_right{ height: 300px; margin-top: 10px; }
	.videoTab_ttl{ color: #ffffff; background-color: #2fad8a; padding: 8px 3%; border-radius: 6px 6px 0 0;}
	body>#flowplayer-floating-container{ max-width: 240px !important;}
	.p_videoBtm .container >.col-12{ padding: 0px;}
	.videoSsnCntnt{ padding-left: 0px;}
	.videoSsnCntntTtl{ margin-bottom: 14px; padding: 10px 0}
	.p_videoTtl{ margin-bottom: 14px;}
	.videoDocInBody{ padding: 12px 3%; text-align: center}
	.videoDocDtls{ padding: 0px; min-height: 0px;}
	.videoDocPic{ position: relative; top: auto; left: auto; display: inline-block; margin-bottom: 10px; width: 80px; height: 80px;}
	.video-p .p_videoBox{ background-color: transparent;}
	.video-p .videoContactPrblm{ color: #ffffff}
	/*Temp 4*/
	.t4Slider .slick-arrow{ width: 30px; height: 30px; background-size: 8px;}
	.t4Slider{ padding: 0 40px;}
	.t4DocPic{ width: 90px; height: 90px;}
	
	/*Temp 6*/
	.t6HdrLeftLogoTxt{ display: none;}
	.t6BnrBtm{ height: 120px;}
	.t6Bnr{ height: 160px; margin-bottom: 40px;}
	.t6topic .font_30px{ font-size: 16px; font-weight: 600;}
	.t6DtTmAreaLeft .t3DteTime{ margin: 0 4px 10px;}
	.t6DocTtl{ padding-left: 0px; padding-bottom: 10px; text-align: center;}
	.t6DocTtl:before{ width: 30px; height: 2px; transform: translate(-50%,0); top: auto; bottom: 0px; left: 50%;}
	.t6DocRowGraph{ display: none;}
	.t6DocRow{ padding:45px 3% 20px; text-align: center; box-shadow: 0 0 20px 0 rgba(0,0,0,0.15); border-radius: 6px; border-top: 4px solid #fcf0d4; margin-top: 45px;}
	.t6DocPic{ position: absolute; top: -90px; transform: translateX(-50%); left: 50%;}
	.t6DocTime{ width: 100%; margin-top: 10px; padding: 0px;}
	.t6DocCont{ padding: 0px; margin-top: 15px;}
	.t6doctorTag,.t5DocName{ margin-bottom: 10px;}
	
	
}
.december h1,.december h2,.december h3,.december h4,.december h5,.december h6{ font-size:10px;}