@charset "utf-8";

/* CSS Document */

html {
    height: 100%;
}

body {
    /* margin: 0;
    padding: 0;
    font-size: 14px; */
    background-color: black;
}

body.admin {
    background-image: none;
}

.content-area {
    width: 100%;
    /* height: calc(100vh - 200px); */
}

#logo {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 250px;
    height: auto;
}

.logo {
    width: 100%;
    height: auto;
}

#loginForm {
    width: 100%;
    height: calc(46vh - 200px);
    position: relative;
}

form#login-form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
}

.backs {
    background-color: #00b6f0;
    padding: 25px 40px;
}

.input-group {
    margin-bottom: 10px;
}

.form-control {
    border: 0;
    border-radius: 0;
    height: auto;
    padding: 15px 10px;
    font-size: 1em;
    background-color: black;
}

.form-control:focus {
    box-shadow: none;
}

.login-button {
    display: block;
    background-color: black;
    color: #292076;
    font-size: 1.25em;
    text-transform: uppercase;
    border: 0;
    width: 100%;
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: .2s;
}

.login-button:focus {
    outline: none;
}


/* .login-button:hover {
    background-color: #292076;
    /* color: #ffffff;


} 

*/

#login-message {
    padding: 5px 10px;
    margin-bottom: 10px;
}

.main-area {
    /* position: absolute; */
    top: 0px;
    left: 50px;
    width: calc(100% - 100px);
    margin: 0 auto;
}

#webcast {
    border: 4px solid #7f1b7d;
}

.user-info {
    background-color: #44c7f4;
    padding: 10px;
    color: #fff;
    font-weight: bold;
}

.btn-logout {
    background-color: #c00;
    color: #fff;
    font-size: 1em;
    text-transform: uppercase;
    border: 0;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
}

.question-box {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
}

.question-box h6 {
    text-transform: uppercase;
    font-size: 1em;
}

.btn-submit {
    background-color: #faaf40;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 20px;
    width: 100%;
    cursor: pointer;
}

.btn-submit:focus {
    box-shadow: none;
    outline: 0;
}

#message {
    padding: 5px;
    margin-bottom: 10px;
}

#ques_count {
    display: inline-block;
}

@media (max-width: 1024px) {
    form#login-form {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 6px;
    }
}

@media (max-width: 1020px) {
    form#login-form {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        position: absolute;
        top: 125%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 6px;
    }
}